.labelWrap {
    border-radius: 5px;
    padding: 0 8px;
    font-size: 1rem;
    letter-spacing: 0;
    text-align: center;
    height: 24px;
    line-height: 25px;
    text-align: center;
}
//type01 (font: 흰색, 배경: 초록)
.lable01 {
    background-color: var(--color-green--01);
    color: #fff;
    width: 49px;
    height: 24px;
    line-height: 25px;
}
//type02 (font: 흰색, 배경: 검정)
.lable02 {
    background-color: var(--color-gray--03);
    color: #fff
}
//type03 (font: 검정, 배경: 노랑)
.lable03 {
    background-color: var(--color-yellow--02);
    color: var(--color-green--03);
}
//type04 (font: 검정, 배경: 흰색, border: 검정)
.lable04 {
    background-color: #fff;
    color: var(--color-gray--03);
    border: 1px solid var(--color-gray--03);
}