@import '../assets/common/util.scss';

.title {
    position: relative;
    @include flex (column, flex, space-between, flex-start);
    margin-bottom: 45px;
}

//기본 바로가기 버튼
.directBtn {
    @include positionLocation(absolute, 12px, 0, null, null);
    padding: 0 30px 2px 0;
    background: url(../../public/images/icon_more.png) no-repeat 100% 100%;
    color: #333;
}
.toggleBtnLayOut {
    @include positionLocation(absolute, 12px, 0, 50%, null);
    transform: translateY(50%);
}

// 지금제일 잘나가요 > 랭킹버튼
.rankingLayOut {}


.rankingToggle {
    @include flex(row, flex, center, center);
    background-color: var(--color-gray--02);
    border-radius: 24px;
    overflow: hidden;
    color: #999;
    font-size: 16px;
    text-align: center;
    > div {
        @include flex(row, flex, center, center);
        @include size(154px, 48px);
        line-height: 48px;
    }
    & .on {
        color: var(--color-green--01);
        font-family: 'NeoSB';
        background: #fff;
        border: 2px solid var(--color-green--01);
        border-radius: 24px;
    }
}
