@import '../assets/common/util.scss';


//하단 상품 제목 및 설명
.reviewPdtContent {
    z-index: 30;
    position: relative;
    left: -1px;
    top: -3px;
    width: 417px;
    height: 168px;
    border: 1px solid #f4f4f4;
    border-top: 0;
    border-left: 2px solid #f4f4f4;
    border-radius: 0 0 5px 5px;
    background: #fff;
    padding: 23px 30px 30px 30px;
    box-shadow: 2px 4px 5px 0 rgb(0 0 0 / 7%);
    transition: all 0.3s;
    overflow: hidden;
    &.on {
        top: -40px;
        height: 208px;
    }
}

.mainTitle {
    margin-bottom: 8px;
}
.pdtSub {
    color: var(--color-gray--07);
}
.subTitle {
    font-size: 1rem;
    @include elip(2);
    margin-bottom: 14px;
    &.on{
        @include elip(5);
    }
}
