.topBanner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 45.19px;
    display: block;
    background-color: #000;
    color: #fff;
    transition: all .5s;

    .contentWrap {
        position: relative;
        width: 1280px;
        margin: 0 auto;
    }
    a {
        display: block;
        padding: 13px 0;
        font-size: 1rem;
        line-height: 1.2;
        text-align: center;
    }
    button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &.hide {
        top: -45.19px;
    }
}
